.formInput {
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  border: 2rem;
  width: 280px;
}
.button {
  float: right; /* left, right 시 display 무시됨 */
  padding: 0.2rem;
  min-width: 5rem;
  min-height: 1.7rem;
  background: rgb(236, 178, 236, 0.5);
  border: 1px solid lightgrey;
  border-radius: 0.7rem;
}

.button:hover {
  float: right; /* left, right 시 display 무시됨 */
  padding: 0.2rem;
  background: rgba(243, 45, 243, 0.3);
  border: 1px solid skyblue;
  border-radius: 0.7rem;
}

.formInput input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.formInput label {
  font-size: 12px;
  color: gray;
}

.formInput span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}

/* .app {
  position: fixed;
  top: 4rem;
  left: 20rem;
  min-width: 50rem;
  min-height: 30rem;
  border: 1px solid skyblue;
  padding: 2rem;

} */
